In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
import re
import string

C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [6]:
df = pd.read_csv('E:/Tài liệu môn học/Đồ án/pbl7/modelAI/ModelAI/data/book_user_ratings_include_user_data.csv')
df

        Unnamed: 0  book_id  user_id  rating  age  gender            area
0                0   248957    10527       5   39    Male        european
1                1   248957     6843       5   35    Male     south_asian
2                2   248957     3650       5   58    Male  celtic_english
3                3   248957    11592       5   51    Male  celtic_english
4                4   248957     1205       5   60  Female  celtic_english
...            ...      ...      ...     ...  ...     ...             ...
200117      200117   250730     8627       5   39  Female      east_asian
200118      200118   250730       44       5   33    Male      east_asian
200119      200119   250730     9117       5   19  Female      east_asian
200120      200120   250730    10149       5   53  Female  celtic_english
200121      200121   250730     5601       5   31    Male     south_asian

[200122 rows x 7 columns]