In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
import re
import string

C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [14]:
df = pd.read_csv('E:/Tài liệu môn học/Đồ án/pbl7/modelAI/ModelAI/data/book_user_ratings_include_user_data.csv')
df

        rating_id  book_id  user_id  rating  age  gender            area
0               0   248957    10527       5   39    Male        european
1               1   248957     6843       5   35    Male     south_asian
2               2   248957     3650       5   58    Male  celtic_english
3               3   248957    11592       5   51    Male  celtic_english
4               4   248957     1205       5   60  Female  celtic_english
...           ...      ...      ...     ...  ...     ...             ...
200117     200117   250730     8627       5   39  Female      east_asian
200118     200118   250730       44       5   33    Male      east_asian
200119     200119   250730     9117       5   19  Female      east_asian
200120     200120   250730    10149       5   53  Female  celtic_english
200121     200121   250730     5601       5   31    Male     south_asian

[200122 rows x 7 columns]

In [15]:
# Sử dụng LabelEncoder từ thư viện scikit-learn
from sklearn.preprocessing import LabelEncoder

# Khởi tạo LabelEncoder
label_encoder = LabelEncoder()

# Mã hóa cột 'area' thành dạng số
df['gender_encoded'] = label_encoder.fit_transform(df['gender'])
df['area_encoded'] = label_encoder.fit_transform(df['area'])

In [16]:
df

,rating_id,book_id,user_id,rating,age,gender,area,gender_encoded,area_encoded
0,0,248957,10527,5,39,Male,european,1,3
1,1,248957,6843,5,35,Male,south_asian,1,9
2,2,248957,3650,5,58,Male,celtic_english,1,1
3,3,248957,11592,5,51,Male,celtic_english,1,1
4,4,248957,1205,5,60,Female,celtic_english,0,1
...,...,...,...,...,...,...,...,...,...
200117,200117,250730,8627,5,39,Female,east_asian,0,2
200118,200118,250730,44,5,33,Male,east_asian,1,2
200119,200119,250730,9117,5,19,Female,east_asian,0,2
200120,200120,250730,10149,5,53,Female,celtic_english,0,1
200121,200121,250730,5601,5,31,Male,south_asian,1,9

In [17]:
X = df[['book_id',	'user_id',	'age',	'gender_encoded',	'area_encoded']]  # features
y = df['rating']

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [19]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [21]:
from sklearn.metrics import mean_squared_error

# Đánh giá mô hình bằng Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 2.401647429056864

In [23]:
errors = y_test - y_pred

# Tính toán RMSE
rmse = np.sqrt(np.mean(errors**2))
print("Root Mean Squared Error (RMSE):", rmse)

Root Mean Squared Error (RMSE): 1.5497249527115655

In [25]:
from sklearn.linear_model import LogisticRegression
modelLogisticRegression = LogisticRegression()

modelLogisticRegression.fit(X_train, y_train)
y_pred = modelLogisticRegression.predict(X_test)

In [26]:
mseLogisticRegression = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mseLogisticRegression)

Mean Squared Error: 3.744959400374766

In [2]:
!pip install auto-sklearn

Collecting auto-sklearn
  Using cached auto-sklearn-0.15.0.tar.gz (6.5 MB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'error'

WARNING: Ignoring invalid distribution -cikit-learn (d:\wpsystem\s-1-5-21-3269375078-2600015948-3888818519-1001\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages)
WARNING: Ignoring invalid distribution -cipy (d:\wpsystem\s-1-5-21-3269375078-2600015948-3888818519-1001\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages)
WARNING: Ignoring invalid distribution -umpy (d:\wpsystem\s-1-5-21-3269375078-2600015948-3888818519-1001\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages)
  error: subprocess-exited-with-error

  × Getting requirements to build wheel did not run successfully.
  │ exit code: 1
  ╰─> [17 lines of output]
      Traceback (most recent call last):
        File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 353, in <module>
          main()
        File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 335, in main
          json_out['return_val'] = hook(**hook_input['kwargs'])
        File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 118, in get_requires_for_build_wheel
          return hook(config_settings)
        File "C:\Users\Admin\AppData\Local\Temp\pip-build-env-02llsm6q\overlay\Lib\site-packages\setuptools\build_meta.py", line 325, in get_requires_for_build_wheel
          return self._get_build_requires(config_settings, requirements=['wheel'])
        File "C:\Users\Admin\AppData\Local\Temp\pip-build-env-02llsm6q\overlay\Lib\site-packages\setuptools\build_meta.py", line 295, in _get_build_requires
          self.run_setup()
        File "C:\Users\Admin\AppData\Local\Temp\pip-build-env-02llsm6q\overlay\Lib\site-packages\setuptools\build_meta.py", line 487, in run_setup
          super().run_setup(setup_script=setup_script)
        File "C:\Users\Admin\AppData\Local\Temp\pip-build-env-02llsm6q\overlay\Lib\site-packages\setuptools\build_meta.py", line 311, in run_setup
          exec(code, locals())
        File "<string>", line 10, in <module>
      ValueError: Detected unsupported operating system: win32. Please check the compability information of auto-sklearn: https://automl.github.io/auto-sklearn/master/installation.html#windows-osx-compatibility
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× Getting requirements to build wheel did not run successfully.
│ exit code: 1
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

In [33]:
!pip install -U scikit-learn

'apt-get' is not recognized as an internal or external command,
operable program or batch file.

In [1]:
import autosklearn.classification

ModuleNotFoundError: No module named 'autosklearn'